
#generaldivheader{
    background-color: rgb(188, 143, 143) !important;
    border-bottom:0px solid #ccc;
    width: auto;
}

.generalcontent{
    width: auto;
}



#colwelcome{
    margin: auto;
    width: 70%;
    padding: 20px;
    align-items: center;
}

.img{
    border-radius: 5em;
    width: 30%;
    padding: 10px;
    margin: auto;
}

#textwel{
    color: whitesmoke;
    border-radius: 2em;
    margin: auto;
    width: 80%;
    text-align: center;
}

#colnav{
    background-color: rgb(211, 176, 176);
    border-radius: 2em;
    margin: auto;
    width: 80%;
    border: 3px whitesmoke;
    padding: 20px;
}

#colornav{
    width: auto;
    background-color: rgb(211, 176, 176) !important;

}

.titlenav{
    text-align: center;
    color: rgb(245, 245, 245);
}

.nav-item{
    text-align: center;
}

.second{
    padding: 2em;
    margin: auto;
    width: 100%;
    text-align: center;
    align-items: center;
    display: block;
}

.title{
    padding: 2em;
    margin: auto;
    width: 100%;
    font-variant: small-caps;
    color:rgb(172, 110, 110);
    align-items: center;
    font-family: Impact;
}

.titleSection{
    font-variant: small-caps;
    color:rgb(172, 110, 110);
    font-family: Impact;
}

.titleWhite{
    font-variant: small-caps;
    color:whitesmoke;
    font-size: 2em;
    text-align: center;
}

.pink{
    background-color: rgb(211, 176, 176) !important;
    width: auto;
}


.doslados1{
    align-items: center;
    width: 70%;
    border: 10px solid rgb(211, 176, 176);
    background-color:  rgb(211, 176, 176) !important;
}

.doslados2{
    align-items: center;
    width: 70%;
    border: 10px solid #f5f5f5;
    background-color:  rgb(204, 162, 162) !important;
}

.iwm{
    align-items: center;
}

.imgc{
    padding: 0.5em;
}


p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    font-style: oblique;
    text-align: center;
}

.footer{
    width: auto;
    padding: 1.5em;
    background-color: rgb(211, 176, 176);
    text-align: center;
}

.bcol{
    background-color:rgb(171, 109, 109) !important;
}


.qqq{
    align-items: center;
    text-align: justify;
    width: 80%;
}

.imgI{
    border-radius: 10em;
    width: 220px;
    height: 220px;
}
.imgL{
    border-radius: 10em;
    width: 180px;
    height: 180px;
    padding: 1em;
}

